<%= render "shared/navbar-top-default" %>
<main class="content-middle">

  <div class="banner-blog">
    <div class="image-banner-blog">
      <img src="<%= asset_path('blog-banner-image.jpeg') %>" sizes="(max-width: 767px) 16vw, 13vw" srcset="<%= asset_path('blog-banner-image.jpeg') %> 500w, <%= asset_path('blog-banner-image.jpeg') %> 660w" alt="picture bull sunset">
    </div>
    <div class="banner-introduction-blog">
      <h1>LE BLOG CAMINO </h1>
      <p> Bienvenue sur le blog <br> Data is Yours.</p>
    </div>
  </div>

  <div class="bonjour">
    <h2> Bonjour ! </h2>
    <p> Vous pouvez ajouter un article en cliquant sur le bouton ci-dessous. </p>
  </div>


  <div class="articles-cards">
    <% @articles.order("RANDOM()").each do |article| %>
      <div class="card-post">
        <h2><% article.title %></h2>

        <div class="image-index">
            <%= image_tag article.image, size: "800x500" %>
        </div>
        <div class="main-information-card-index">
          <p><strong> Catégorie </strong> : <%= article.category %></p>
          <p> <strong>Date de publication</strong> : <%= article.publication_date %></p>
          <div class="all-links-index">
            <%= link_to "Lire l'article sur le site", article.url, class: 'link-index' %>
            <%= link_to 'Supprimer cet article', article_path(article), class: 'link-index', data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr ?"} %>
            <%= link_to "Lire l'article sur Yours", article_path(article), class: 'link-index' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</main>
<%= render "shared/footer" %>
