
<div class="contact-form-all">
  <div class="contact-form-title">
    <h2> <strong> Prenons contact </strong> </h2>
    <p> Notre ambition est de réinventer l'expérience collaborateur. Vous souhaitez en savoir plus ?  </p>
  </div>

  <div class="contact-form">
    <%= simple_form_for @client do |f| %>
      <div class="first-last-name">
      <%= f.input :first_name, label: "Prénom" %>
      <%= f.input :last_name, label: "Nom" %>
      </div>
      <%= f.input :company, label: "Entreprise" %>
      <%# <%= f.input :role, label: "Votre rôle" %>
      <%= f.input :pro_email, label: "Email professionnel" %>
      <%= f.input :phone_number, label: "Numéro de téléphone" %>
      <%= f.submit "Submit", label:"valider" %>
    <% end %>
  </div>
</div>
