<div class="full-image-banner-component">
  <div class="banner-child tall-pill">
    <img src="<%= asset_path('projetez-yellow.png') %> sizes="(max-width: 767px) 16vw, 13vw" srcset="<%= asset_path('projetez-yellow.png') %> 500w, <%= asset_path('projetez-yellow.png') %> 660w" alt="Sticker of a laptop computer." class="image-cover pill-image" height="184">
  </div>

  <div class="banner-child banner-circle">
    <img src="<%= asset_path('young-black-businessman-drinking-coffee-while-working-late-computer-office.jpeg') %>" loading="eager" size="sizes=(max-width: 767px) 36vw, 28vw" srcset="<%= asset_path('young-black-businessman-drinking-coffee-while-working-late-computer-office.jpeg') %> 500w, <%= asset_path('young-black-businessman-drinking-coffee-while-working-late-computer-office.jpeg') %> 800w, <%= asset_path('young-black-businessman-drinking-coffee-while-working-late-computer-office.jpeg') %> 1080w, <%= asset_path('young-black-businessman-drinking-coffee-while-working-late-computer-office.jpeg') %> 1200w" alt="A man works in his home office at night." class="image-cover circle-image" width="300" height="184">
</div>

  <%# <div class="banner-child banner-wide">
    <img src="https://assets.website-files.com/637be80ebdeb9e966b7a84cd/637be80ebdeb9edbe67a859f_aw-onobarding__two-people-laptop.webp" loading="eager" sizes="(max-width: 767px) 36vw, 28vw" srcset="https://assets.website-files.com/637be80ebdeb9e966b7a84cd/637be80ebdeb9edbe67a859f_aw-onobarding__two-people-laptop-p-500.jpg 500w, https://assets.website-files.com/637be80ebdeb9e966b7a84cd/637be80ebdeb9edbe67a859f_aw-onobarding__two-people-laptop-p-800.jpg 800w, https://assets.website-files.com/637be80ebdeb9e966b7a84cd/637be80ebdeb9edbe67a859f_aw-onobarding__two-people-laptop-p-1080.jpg 1080w, https://assets.website-files.com/637be80ebdeb9e966b7a84cd/637be80ebdeb9edbe67a859f_aw-onobarding__two-people-laptop.webp 1200w" alt="Two people work remotely at a coffee shop." class="image-cover pill-image">
  </div> %>
  <div class="banner-child tall-pill">
    <img src="<%= asset_path('developpez-blue.png') %>" loading="eager" sizes="(max-width: 767px) 16vw, 13vw" srcset="<%= asset_path('developpez-blue.png') %> 500w, <%= asset_path('developpez-blue.png') %> 660w" alt="Sticker of a globe." class="image-cover pill-image" height="184">
  </div>

  <div class="banner-child banner-circle">
    <img src="<%= asset_path('happy-businesswoman-working-late-computer-office.jpeg') %>" loading="eager" sizes="(max-width: 767px) 20vw, 16vw" srcset="<%= asset_path('happy-businesswoman-working-late-computer-office.jpeg') %> 500w, <%= asset_path('happy-businesswoman-working-late-computer-office.jpeg') %> 800w, <%= asset_path('happy-businesswoman-working-late-computer-office.jpeg') %> 1080w, <%= asset_path('happy-businesswoman-working-late-computer-office.jpeg') %> 1200w" alt="A woman works from her home office, facing a large desktop monitor." class="image-cover circle-image origin-right-circle" width="300" height="184">
  </div>

  <div class="banner-child tall-pill">
    <img src="<%= asset_path('engagez-orange.png') %>" loading="eager" sizes="(max-width: 767px) 16vw, 13vw" srcset="<%= asset_path('engagez-orange.png') %> 500w, <%= asset_path('engagez-orange.png') %> 660w" alt="Sticker of a globe." class="image-cover pill-image" height="184">
  </div>
</div>
