<%= render "shared/navbar-top-default" %>
<main class="content-middle">

<h1 class= "first-title"> <strong> Rendez vos collaborateurs acteurs de leur développement professionnel </strong></h1>

<p class="phrase-accroche"> Nous vous aidons à projeter, développer et engager les talents de votre organisation </p>

<%= render "shared/image_banner" %>

  <div class="total-value-proposition">
    <h2 class="value-proposition-title-cards"> Aidons vos collaborateurs à se sentir bien chez vous </h2>
    <div class="cards-global-value">
      <div class="value-proposition">
        <div class="card-value-proposition">
          <div class="value-proposition-image">
            <img src= "https://images.unsplash.com/photo-1513530534585-c7b1394c6d51?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80">
          </div>
          <h3 class="card-value-proposition-title"><strong>Projetez</strong></h3>
        </div>
        <div  class="value-proposition-content">
          <p>  Une suite d’exercices de réflexivité à réaliser en autonomie pour se découvrir et se comprendre </p>
        </div>
      </div>

      <div class="value-proposition">
        <div class="card-value-proposition">
          <div class="value-proposition-image">
            <img src= "https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">
          </div>
        </div>
        <div  class="value-proposition-content">
          <h3 class="card-value-proposition-title"><strong>Développez</strong></h3>
          <p> Bénéficier d'une méthodologie pour apprendre à poser de premiers objectifs et des étapes de réalisation.</p>
        </div>
      </div>

      <div class="value-proposition">
        <div class="card-value-proposition">
          <div class="value-proposition-image">
            <img src= "https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">
          </div>
        </div>
        <div  class="value-proposition-content">
          <h3 class="card-value-proposition-title"><strong>Engagez</strong></h3>
          <p> Bénéficier d'une méthodologie pour apprendre à poser de premiers objectifs et des étapes de réalisation </p>
        </div>
      </div>

    </div>
  </div>

  <div class="container-defi-solution" data-controller="defi-solution">
    <h2 class="value-proposition-title"> Répondre ensemble aux enjeux auxquels vous êtes confrontés </h2>
    <div class="defi-solutions">
      <div class="phrase-defi-solutions">Diminuer mon taux de turnover</div>
      <div class="reponse-defi-solution" style="display:none;">Avec Camino donnez des perspectives à vos collaborateurs en les invitant à réfléchir sur leur parcours professionnels et poser leurs prochaines étapes</div>
      <div class="phrase-defi-solutions">Renforcer la mobilité interne</div>
      <div class="reponse-defi-solution" style="display:none;">Avec Camino donnez des perspectives à vos collaborateurs en les invitant à réfléchir sur leur parcours professionnels et poser leurs prochaines étapes</div>
      <div class="phrase-defi-solutions">Anticiper les risques RH au sein de mon organisation</div>
      <div class="reponse-defi-solution" style="display:none;">Avec Camino donnez des perspectives à vos collaborateurs en les invitant à réfléchir sur leur parcours professionnels et poser leurs prochaines étapes</div>
      <div class="phrase-defi-solutions">Accompagner les talents dans leurs désirs d'évolution</div>
      <div class="reponse-defi-solution" style="display:none;">Avec Camino donnez des perspectives à vos collaborateurs en les invitant à réfléchir sur leur parcours professionnels et poser leurs prochaines étapes</div>
      <div class="phrase-defi-solutions">Guider les managers dans leur rôle</div>
      <div class="reponse-defi-solution" style="display:none;">Avec Camino donnez des perspectives à vos collaborateurs en les invitant à réfléchir sur leur parcours professionnels et poser leurs prochaines étapes</div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const phraseDefiSolution = document.querySelector('.phrase-defi-solution');
        const reponseDefiSolution = document.querySelector('.reponse-defi-solution');

        if (phraseDefiSolution) {
          phraseDefiSolution.addEventListener('click', function() {
            reponseDefiSolution.style.display = 'block';
          });
        }
      });
    </script>
  </div>

  <div class="presentation-steps-camino-color">
    <div class="presentation-steps-camino">
      <h1 class="camino-3-steps-title"> CAMINO EN 3 ÉTAPES CLÉS </h1>

      <div class="container-one-step">
        <div class="div-context-steps">
            <h2 class="presentation-steps-camino-title"><strong>Projetez</strong> </h2>
            <p class="explaination-context-rh"> 41%  des collaborateurs démissionnent en raison du <strong> manque de perspectives professionnelles </strong>. Proposer des services de développement professionnel permet de <strong> réduire votre turnover jusqu’à 50% </strong>. </p>
          </div>
          <div class="cards-container-explainations">
            <div class="icon-container-explainations">
              <img src= "https://images.unsplash.com/photo-1513530534585-c7b1394c6d51?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80" style="width:90%">
            </div>
            <div class="text-explaination-container-steps">
              <ul>
                <li> Un accès à un catalogue de ressources et des mises en pratique pour se découvrir et se comprendre
                <li> Une méthode et un accompagnement intuitif pour poser ses objectifs en lien avec le référentiel RH de l’organisation </li>
              </ul>
            </div>
        </div>
      </div>

      <div class="container-one-step">
        <div class="div-context-steps">
            <h2 class="presentation-steps-camino-title"><strong>Développez</strong> </h2>
            <p class="explaination-context-rh"> 50% de vos nouveaux collaborateurs seront nés dans les années 2000 en 2025. Camino vous permet d’<strong>adresser l’enjeu intergénérationnel dans votre organisation</strong>. </p>
          </div>
          <div class="cards-container-explainations">
            <div class="icon-container-explainations">
              <img src= "https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" style="width:90%">
            </div>
            <div class="text-explaination-container-steps">
            <p>Créez des binômes entre juniors et expérimentés pour tisser des relations de confiance individualisées avec vos talents</p>
            <ul>
                <li> Des binômes qui s’animent en toute autonomie pour co-construire des chemins professionnels </li>
                <li>  Un suivi simplifié de l’avancement des programmes de binômes </li>
            </ul>
            </div>
          </div>
        </div>

      <div class="container-one-step">
        <div class="div-context-steps">
            <h2 class="presentation-steps-camino-title"><strong>Engagez</strong> </h2>
            <p class="explaination-context-rh"> 81% des DRH sont préoccupés par le départ de leurs collaborateurs. <strong> Mesurer l’humeur générale, récolter les demandes d’évolution permet de cibler les bonnes politiques RH </strong> aux bonnes équipes sans se disperser. </p>
          </div>
          <div class="cards-container-explainations">
            <div class="icon-container-explainations">
              <img src= "https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" style="width:90%">
            </div>
            <div class="text-explaination-container-steps">
              <p>Suivez l’humeur générale et captez les signaux faibles de votre organisation grâce à un canal d’écoute privilégié.</p>
              <ul>
                <li> Anticipations des demandes de mobilités internes </li>
                <li> Monitoring des risques RH et ajustement de vos politiques selon vos priorités </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="container-why-camino">
    <h2 class="why-camino-title"> <strong> 4 raisons de choisir Camino  </strong></h2>
    <p class="why-camino-subtitle"> Afin de vous proposer un service adapté à vos besoins,  </p>
    <ul role="list" class="hiw-component slide-up">
    <li class="hiw-child slide-1" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
    <div class="blockquote">01</div><div class="hiw-content">
    <h4 class="heading-5 margin-bottom-8">Une méthode de bout en bout</h4>
    <p class="margin-bottom-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div></li>
    <li class="hiw-child slide-2" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
    <div class="blockquote">02</div>
    <div class="hiw-content">
    <h4 class="heading-5 margin-bottom-8">Intégration dans votre écosystème SIRH</h4>
    <p class="margin-bottom-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div></li>
    <li class="hiw-child slide-3" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
    <div class="blockquote">03</div><div class="hiw-content">
    <h4 class="heading-5 margin-bottom-8">Une expérience immersive</h4>
    <p class="margin-bottom-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div></li>
    <li class="hiw-child slide-4" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
    <div class="blockquote">04</div>
    <div class="hiw-content">
    <h4 class="heading-5 margin-bottom-8">Une solution adaptable</h4>
    <p class="margin-bottom-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div></li></ul>
  </div>

  <%# <%= render "shared/temoignages" %>

    <div class="container-cta", style="text-align: center; margin-bottom:56px">
        <h2 class="cta-title"> <strong> Vous souhaitez en savoir plus ? </strong> </h2>
        <p class="cta-subtitle" style="margin-bottom: 48px; margin-top: 24px",>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <%= link_to "PRENONS CONTACT", new_client_path, class: "btn savoir-plus"%>
    </div>


</main>
<%= render "shared/footer" %>
